# ==============================================================================
# vHackintosh Appliance - GRUB 2 Configuration
# ==============================================================================

insmod font
insmod gfxterm
insmod png

set gfxmode=1920x1080,1280x720,auto
terminal_output gfxterm

if [ -f ($root)/boot/grub/fonts/unicode.pf2 ]; then
    loadfont ($root)/boot/grub/fonts/unicode.pf2
fi

if [ -f ($root)/boot/grub/themes/vhackintosh/theme.txt ]; then
    set theme=($root)/boot/grub/themes/vhackintosh/theme.txt
fi

set default="0"
set timeout=5

menuentry "vHackintosh Appliance (Live Kiosk - Vulkan & KVM)" --class osx --class gnu-linux {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=VHACK_LIVE quiet splash cow_spacesize=10G
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "vHackintosh (Modo Verbose / Diagnóstico)" --class recovery --class gnu-linux {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=VHACK_LIVE cow_spacesize=10G systemd.log_level=debug
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Configurações de Firmware UEFI (BIOS Setup)" --class efi {
    fwsetup
}

menuentry "Reiniciar Computador" --class restart {
    reboot
}

menuentry "Desligar Computador" --class shutdown {
    halt
}
