# Search for the ISO volume
search --no-floppy --set=archiso_img_dev --file "${iso_path}"
probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"

insmod font
insmod gfxterm
insmod png
insmod all_video

set gfxmode=1920x1080,1280x720,auto
terminal_output gfxterm

if [ -f "${prefix}/fonts/unicode.pf2" ]; then
    loadfont "${prefix}/fonts/unicode.pf2"
fi

if [ -f "${prefix}/themes/vhackintosh/theme.txt" ]; then
    set theme="${prefix}/themes/vhackintosh/theme.txt"
fi

set default="vhackintosh"
set timeout=5
set timeout_style=menu

menuentry "vHackintosh OS Appliance (Live Kiosk - Vulkan & KVM)" --class osx --class gnu-linux --id 'vhackintosh' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" cow_spacesize=10G quiet splash
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "vHackintosh OS (Modo Diagnóstico & Verbose)" --class recovery --class gnu-linux --id 'vhackintosh-verbose' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" cow_spacesize=10G systemd.log_level=debug
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

if [ "${grub_platform}" == 'efi' ]; then
    menuentry "Configurações de Firmware UEFI (BIOS Setup)" --class efi --id 'uefi-firmware' {
        fwsetup
    }
fi

menuentry "Reiniciar Computador" --class restart --class reboot {
    reboot
}

menuentry "Desligar Computador" --class shutdown --class halt {
    halt
}
